body{
    margin-bottom:30px;
    }
    body{
        font-family:'Roboto Mono,'sans-serif;
        font-size: 16px;
        margin-top:20px;
    }
    
    
        
        h1,
        h2{
        font-family:'montserrat,'sans-serif;
        font-size: 3em;
        font-weight: 750;
        color:#A8FF00(0, 255, 106)
         }

        p{
        font-size: 1em;
        font-weight: 400;
        }
        h2{
        font-size: 3em;
        font-weight: 700;
        color:#A8FF00
        }
    
        h3{
            font-size: 1.3em;
        font-weight: 800;
        
        }
    
        li{
            font-size: .80em;
        font-weight:300;
        }
    
        p{
            font-family:'Montserrat,'sans-serif;
            font-size: 1em;
            font-weight: 170;

            color:#8e8e8e
            
    
        }
    
        .headshot{
            width:200px;
        }
    
        .clips{
    
            max-height:350px;
            padding-bottom:10px;
    
        }